.stats {
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .container {
        width: 100%;
        max-width: 750px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        > .card {
            padding: 35px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: $radius;
            box-shadow: $shadow $secondary;
            > h1 {
                margin-bottom: 70px;
            }
            > .controls {
                > button {
                    width: 50px;
                    height: 50px;
                    margin-right: 15px;
                    border-radius: $radius;
                    background-color: $accent;
                    box-shadow: $shadow $accent;
                    &:hover {
                        opacity: $opacity;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    > .icon {
                        color: white;
                    }
                }
            }
        }
    }
}