@use '../../styles/style' as *;

.commands {
    &__search {
        padding: 0 sz(3);
        width: sz(9);
        height: sz(3);
        background-color: $secondary;
        display: flex;
        align-items: center;
        &:hover, &:hover &__input {
            background-color: $tertiary;
        }
        @include tablet {
            width: 100%;
        }
        @include mobile {
            padding: 0 sz(1);
        }
        &__icon {
            font-size: sz(1);
            margin-right: sz(1);
            color: $text;
        }
        &__input {
            padding: sz(1) 0;
            height: 100%;
            width: 100%;
            background-color: $secondary;
            font-size: sz(1);
            color: $text;
        }
    }
}