@use './variables' as *;

@function sz($n) {
    @if $n == 0 {
        @return 0.5rem;
    }
    @else {
        $s: 0 1;
        @for $i from 1 through $n {
            $new: nth($s, length($s)) + nth($s, length($s) - 1);
            $s: append($s, $new);
        }
        @return nth($s, length($s)) + rem;
    }
}