@use '../../styles/style' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    border: none;
    outline: none;
    border-radius: sz(0);
    transition: all 150ms linear;
}
body {
    background-color: $primary;
}
a {
    text-decoration: none;
}
.main {
    position: absolute;
    top: sz(4);
    left: 0;
    padding: sz(3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: $text;
    @include mobile {
        padding: sz(2);
    }
    &--static {
        height: calc(100vh - sz(4));
    }
    &--scroll {
        height: auto;
    }
}