@use '../../styles/style' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    border: none;
    outline: none;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    transition: all 250ms linear;
}
body {
    background-color: $primary;
}
a {
    text-decoration: none;
}
.main {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--static {
        height: calc(100vh - 5rem);
    }
    &--scroll {
        padding: 3rem;
        height: auto;
        @include mobile {
            padding: 1.5rem;
        }
    }
}