@use '../../styles/style' as *;

.donate {
    > .card {
        > .options {
            width: sz(7);
            margin-bottom: sz(3);
            display: flex;
            justify-content: space-between;
            > .option {
                padding: sz(1);
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $tertiary;
                color: $text;
                font-size: sz(1);
                &:hover, &--active {
                    background-color: $accent;
                }
            }
        }
        > .paypal {
            z-index: 0;
            width: sz(7);
        }
    }
}