@use '../../styles/style' as *;

.home {
    > .card {
        > .content {
            font-size: sz(2);
            margin-bottom: sz(4);
        }
        > .invite {
            padding: sz(1);
            background-color: $accent;
            color: $text;
            &:hover {
                opacity: 0.75;
            }
        }
    }
}