@use '../../styles/style' as *;

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5rem;
    height: 5rem;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
        padding: 2rem;
    }
    &__brand {
        font-weight: bold;
        font-size: 2rem;
        color: $text;
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
    }
    &__menu {
        @include tablet {
            position: fixed;
            top: 5rem;
            left: 0;
            width: 100%;
            height: calc(100vh - 5rem);
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            display: none;
            background-color: $secondary;
        }
        &__active {
            display: flex;
        }
    }
    &__link {
        padding: 1rem;
        margin-left: 2rem;
        font-size: 1.1rem;
        color: $text;
        &:hover {
            background-color: $tertiary;
        }
        &--active {
            color: $accent;
        }
    }
    &__toggle {
        display: none;
        background-color: $secondary;
        &:hover {
            cursor: pointer;
        }
        @include tablet {
            display: flex;
            align-items: center;
        }
        &__icon {
            font-size: 2rem;
            color: $text;
        }
    }
}