@use '../../styles/style' as *;

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: sz(2) sz(4);
    height: sz(4);
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text;
    @include mobile {
        padding: sz(2);
    }
    &__brand {
        font-weight: bold;
        font-size: sz(2);
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: sz(1);
        width: sz(3);
        height: sz(3);
    }
    &__menu {
        @include tablet {
            position: fixed;
            top: sz(4);
            left: 0;
            width: 100%;
            height: calc(100vh - sz(4));
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            display: none;
            background-color: $secondary;
        }
        &__active {
            display: flex;
        }
    }
    &__link {
        padding: sz(1);
        margin-left: sz(2);
        color: $text;
        &:hover {
            background-color: $tertiary;
        }
        &--active {
            color: $accent;
        }
    }
    &__toggle {
        display: none;
        background-color: $secondary;
        &:hover {
            cursor: pointer;
        }
        @include tablet {
            display: flex;
            align-items: center;
        }
        &__icon {
            font-size: sz(2);
            color: $text;
        }
    }
}