@use '../../styles/style' as *;

.command {
    position: relative;
    width: sz(9);
    margin-top: sz(3);
    padding: sz(3);
    background-color: $secondary;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        margin-top: sz(2);
        padding: sz(2);
    }
    &__top {
        height: sz(3);
        margin-bottom: sz(2);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        font-size: sz(2);
    }
    &__admin {
        padding: sz(1);
        background-color: $accent;
    }
    &__description {
        margin-bottom: sz(2);
        line-height: sz(2);
    }
    &__usage {
        padding: sz(1);
        background-color: $tertiary;
    }
}